@model WebFinalOdev.Models.HobiUrunu

@{
    ViewData["Title"] = "HobiUrunuDuzenle";
}

<h1>HobiUrunuDuzenle</h1>

<h4>HobiUrunu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HobiUrunuDuzenle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input value="@Model.SiraNo" asp-for="SiraNo" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="UrunAdi" class="control-label"></label>
                <input value="@Model.UrunAdi" asp-for="UrunAdi" class="form-control" />
                <span asp-validation-for="UrunAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UreticiAdi" class="control-label"></label>
                <input value="@Model.UreticiAdi" asp-for="UreticiAdi" class="form-control" />
                <span asp-validation-for="UreticiAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrunTuru" class="control-label"></label>
                <input value="@Model.UrunTuru" asp-for="UrunTuru" class="form-control" />
                <span asp-validation-for="UrunTuru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UretimYili" class="control-label"></label>
                <input value="@Model.UretimYili" asp-for="UretimYili" class="form-control" />
                <span asp-validation-for="UretimYili" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input value="@Model.Fiyat" asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HobiUrunuListe">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
