@model IEnumerable<WebFinalOdev.Models.HobiUrunu>

@{
    ViewData["Title"] = "HobiUrunuListe";
}

<h1>HobiUrunu Listele</h1>

<p>
    <a asp-action="HobiUrunuEkle">Yeni Urun Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiraNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UreticiAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunTuru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UretimYili)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiraNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UreticiAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunTuru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UretimYili)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "HobiUrunuDuzenle", new { id = item.SiraNo }) |
                @Html.ActionLink("Detaylar", "HobiUrunuDetay", new { id = item.SiraNo }) |
                @Html.ActionLink("Sil", "HobiUrunuSil", new { id = item.SiraNo })
            </td>
        </tr>
}
    </tbody>
</table>
